<div id="<%= dom_id movie %>">
  <p>
    <strong><%= movie.title %></strong> - <%= movie.rating %>
  </p>

  <p>
    <%= movie.poster_url %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= movie.overview %>
  </p>

</div>
